{{> header }}
        
        {{>  navbar }}

        <div class="jumbotron">
            <h1 class="display-4">Hello, {{ capitalizar nombre }}!</h1>
            <p class="lead">Este es un sitio web estático creado con NodeJS</p>
            <hr class="my-4">
            <p>Utilizamos Boostrap para mejorar el diseño.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>

{{>  footer }}